$a11y-toolbar: 'a11y-toolbar';
$a11y-toolbar-breakpoint: 768px; // CSS var() cannot currently be used in media queries.

.#{$a11y-toolbar} {
	--a11y-toolbar-zindex: 999;
	--a11y-toolbar-button-size: 45px;
	--a11y-toolbar-button-size-md: 60px;
	--a11y-toolbar-button-color: #000;
	--a11y-toolbar-button-color-hover: #000;
	--a11y-toolbar-button-background-color: #fff;
	--a11y-toolbar-button-background-color-hover: #f1f5f9;
	--a11y-toolbar-icon-size: 1.1rem;
	--a11y-toolbar-icon-size-md: 1.5rem;

	position: fixed;
	top: 20vh;
	left: 0;
	z-index: var(--a11y-toolbar-zindex);
	opacity: 0;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	transform: translateX(-100%);
	visibility: hidden;
	flex-direction: column;
	display: flex;
	background-color: var(--a11y-toolbar-button-background-color);
	align-items: flex-end;
	transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);

	@media screen and (min-width: $a11y-toolbar-breakpoint) {
		right: 0;
		left: auto;
		opacity: 1;
		transform: translateX(0%);
		visibility: visible;
	}

	&__toggle-button {
		$size: 45px;
		position: fixed;
		z-index: 999;
		right: 1rem;
		bottom: 4.5rem;
		display: block;
		width: $size;
		height: $size;
		padding: 0;
		border: 0;
		background-color: #fff;
		border-radius: 50px;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
		color: #000;
		font-size: 1.6rem;

		@media screen and (min-width: $a11y-toolbar-breakpoint) {
			display: none;
		}
	}

	// Extra specificity to override the ReadSpeaker styles
	&__button,
	&__button.#{$a11y-toolbar}__button--readspeaker.rsbtn_play {
		display: flex;
		flex-direction: column;
		$size: 45px;
		width: var(--a11y-toolbar-button-size);
		height: var(--a11y-toolbar-button-size);
		align-items: center;
		justify-content: center;
		padding: 0;
		border: 0;
		background-color: var(--a11y-toolbar-button-background-color);
		color: var(--a11y-toolbar-button-color);
		font-size: var(--a11y-toolbar-icon-size);
		text-align: center;
		transition: 0.1s ease all;

		&[aria-pressed='true'],
		&:hover {
			background-color: var(--a11y-toolbar-button-background-color-hover);
			color: var(--a11y-toolbar-button-color-hover);

			.#{$a11y-toolbar}__button-text {
				color: var(--a11y-toolbar-button-color-hover);
			}
		}

		@media screen and (min-width: $a11y-toolbar-breakpoint) {
			width: var(--a11y-toolbar-button-size-md);
			height: var(--a11y-toolbar-button-size-md);
			font-size: var(--a11y-toolbar-icon-size-md);
		}

		&--language-button {
			.#{$a11y-toolbar}__button-text-after {
				margin-top: -0.4em;
			}
		}
	}

	&__button-text-after {
		font-size: 8px;

		@media screen and (min-width: $a11y-toolbar-breakpoint) {
			font-size: 11px;
		}
	}

	&__flag {
		width: 21px;
		height: 24px;
	}

	&__translate-dropdown {
		$triangle: 10px;
		background-color: #fff;
		padding: 1rem;
		position: absolute;
		top: calc(100% + #{$triangle});
		left: 10px;
		width: 280px;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
		opacity: 0;
		transform: translateY(-7px);
		transition: all 0.3s ease;
		visibility: hidden;

		p {
			font-size: 0.9rem;
			margin-bottom: 0.5rem;
		}

		&::before {
			position: absolute;
			top: -#{$triangle};
			left: 5px;
			width: 0;
			height: 0;
			border-right: $triangle solid transparent;
			border-bottom: $triangle solid #fff;
			border-left: $triangle solid transparent;
			content: '';
		}

		@media screen and (min-width: $a11y-toolbar-breakpoint) {
			right: 10px;
			left: auto;

			&::before {
				right: 15px;
				left: auto;
			}
		}

		.goog-te-combo {
			width: auto;
			height: 33px;
			padding: 0.2rem 0.5rem;
		}
	}

	&__translate-close-button {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0.5rem 1.1rem;
		border: 0;
		background-color: transparent;
		color: #000;
		font-size: 1.2rem;
		text-align: center;
		transition: 0.1s ease all;

		i {
			pointer-events: none;
		}
	}

	// ReadSpeaker is a mess, we need to override some of their styles
	.rsbtn {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-bottom: 0;

		.#{$a11y-toolbar}__icon {
			font-family: 'Font Awesome 6 Pro';
			font-weight: 300;
		}

		.rsbtn_play:focus {
			background: initial;
		}

		.rsbtn_tooltoggle {
			display: none !important;
		}

		.rs-player-loadindicator {
			left: 0 !important;
		}

		.rsbtn_exp_inner {
			background-color: var(--a11y-toolbar-button-background-color);
		}
	}
}

// Remove popup when selecting text. Can't be done via ReadSpeaker API.
.rspopup {
	display: none !important;
}

// Class added to <body> when a11y toolbar is open on small screens
.a11y-toolbar--is-open {
	.#{$a11y-toolbar} {
		opacity: 1;
		transform: translateX(0%);
		visibility: visible;
	}
}

// Class added to <body> when the translate module is open
.a11y-toolbar--translate-is-open {
	.#{$a11y-toolbar}__translate-dropdown {
		opacity: 1;
		transform: translateY(0);
		visibility: visible;
	}
}

// Class added to <html> when content is translated by Google Translate
.translated-ltr {
	.nav {
		top: 38px;
	}
}
